/* Clean up the page */
body
{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("poster1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; 
}
table
{
	font-size: 1em;
}
/* Style the date picker elements */
.ui-draggable, .ui-droppable
{
	background-position: top;
}

/* Set the height and width of the map */
#map
{
	height: 400px;
	width: 75%;
}
.center-content
{
	width: 75%;
	margin: auto;
	text-align: center;
}
.logo
{
	width: 200px;
}
.left-text
{
	text-align: left;
}
